body {
    height: 100vh;
    background: linear-gradient(135deg, #2C3E50, #4CA1AF); /* Azul marino a azul petróleo */
    color: #333333; /* Gris carbón para el texto */
}

.circulo {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    animation: flotando 10s infinite ease-in-out;
}

.circulo:nth-child(1) {
    width: 200px;
    height: 200px;
    top: 20%;
    left: 10%;
    animation-delay: 0s;
}

.circulo:nth-child(2) {
    width: 150px;
    height: 150px;
    top: 70%;
    left: 30%;
    animation-delay: 2s;
}

.circulo:nth-child(3) {
    width: 300px;
    height: 300px;
    top: 40%;
    right: 10%;
    animation-delay: 4s;
}

.circulo:nth-child(4) {
    width: 100px;
    height: 100px;
    bottom: 15%;
    right: 40%;
    animation-delay: 6s;
}
@keyframes flotando{0%, 100% {
    transform: translateY(0) translateX(0);
}
50% {
    transform: translateY(-50px) translateX(50px);
}}
.mensaje {
    color: #333; /* Color de texto oscuro */
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 100px;
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra de texto */
}

.boton {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 20px;
    background-color: #4CA1AF; /* Color rojo */
    color: white;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); /* Sombra en el botón */
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #2C3E50; /* Color más oscuro al pasar el mouse */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); /* Aumentar sombra en hover */
}